@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Merriweather&family=Nunito');
:root {
  font-family: 'Nunito', sans-serif;
  letter-spacing: var(--unnamed-character-spacing-0); 
  color: var(--unnamed-color-ffffff);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}



